html {
  display:flex;
  margin:auto;
  justify-content: center;

}

.border {
  border-radius: 12px;
  border: 8px solid #241d13;
}

#game-holder-column {
  display: flex;
  flex-direction: column;
}

#game-holder-row {
  display: flex;
  flex-direction: row;
}

#text-box {
  width : 600px;
  height : 170px;
  overflow : auto;
}

#player-info {
  display : flex;
  width : 225px;
  height : 400px;
  justify-content : center;
  text-align : center;
}
